@import "tailwindcss";

html {
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  overflow-x: hidden;
}

*, *::after, *::before {
  box-sizing: inherit;
}